python-telegram-bot
pdfplumber
google-generativeai
pillow
pandas
pytesseract
opencv-python-headless
python-dotenv
numpy
requests
cryptography
httpx
sniffio
ta
yfinance
scikit-learn
reportlab
pandas-datareader
scipy
flask
